<div class="authorized-layout">

    <ds-header title="TW System" [showMenuButton]="isMobile" [isMenuOpen]="isMenuOpen" (menuToggle)="onMenuToggle()">
    </ds-header>


    <app-menu [class.menu-hidden]="isMobile && !isMenuOpen" [class.menu-overlay]="isMobile && isMenuOpen"
        (menuClose)="onMenuClose()">
    </app-menu>


    <main class="main-content" [class.mobile-padding]="isMobile">
        <router-outlet></router-outlet>
    </main>
</div>


<div *ngIf="isMobile && isMenuOpen" class="menu-overlay" (click)="onMenuClose()">
</div>
