<div class="delivery-sheets-container">

    <h1 class="title-semibold primary-dark mb-48">Fichas de entrega</h1>


    <div *ngIf="successMessage" class="alert alert-success mb-24">
        <ds-icon icon="fa-solid fa-check-circle" class="mr-8"></ds-icon>
        {{ successMessage }}
    </div>

    <div *ngIf="showError" class="alert alert-error mb-24">
        <ds-icon icon="fa-solid fa-exclamation-circle" class="mr-8"></ds-icon>
        {{ errorMessage }}
    </div>


    <div class="search-input">

        <div class="w-100">
            <ds-input label="Buscar ficha de entrega" placeholder="Digite referência interna, endereço..."
                icon="fa-solid fa-magnifying-glass" iconPosition="left" [(ngModel)]="currentFilters.search"
                (input)="onSearchChange()" width="100%">
            </ds-input>
        </div>

        <div class="w-100">
            <ds-select label="Filtrar por Status" [options]="statusOptions" [(ngModel)]="currentFilters.status"
                (ngModelChange)="onStatusFilterChange()" width="100%">
            </ds-select>
        </div>

        <div class="w-100">
            <ds-select label="Filtrar por Cliente" [options]="clientOptions" [(ngModel)]="currentFilters.clientId"
                (ngModelChange)="onClientFilterChange()" width="100%">
            </ds-select>
        </div>


        <div class="w-100 date-filter-group">
            <ds-input label="Data Inicial" type="date" [(ngModel)]="currentFilters.deliveryDateFrom"
                (ngModelChange)="onDateFilterChange()" width="100%">
            </ds-input>
        </div>

        <div class="w-100 date-filter-group">
            <ds-input label="Data Final" type="date" [(ngModel)]="currentFilters.deliveryDateTo"
                (ngModelChange)="onDateFilterChange()" width="100%">
            </ds-input>
        </div>


        <ds-button label="Nova Ficha de Entrega" variant="fill" icon="fa-solid fa-plus"
            (onClickEmitter)="createDeliverySheet()">
        </ds-button>
    </div>


    <div class="results mt-32">
        <ds-list-view [items]="deliverySheets" [config]="listViewConfig">
            <div slot="table">
                <ds-table emptyMessage="Nenhuma ficha de entrega encontrada" [showPagination]="true"
                    [pageSize]="currentFilters.limit" [totalPages]="pagination?.totalPages"
                    [currentPage]="pagination?.currentPage || 1" (pageChanged)="onPageChange($event)"
                    [loadingData]="shouldShowSpinner">

                    <ds-table-row [isHeader]="true">
                        <ds-table-cell [isHeader]="true" align="left">Ref. Interna</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left">Cliente</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left" class="hide-on-tablet">Endereço</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center">Data de Entrega</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center">Valor Total</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center" class="hide-on-mobile">Nota
                            Fiscal</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center">Status</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center">Ações</ds-table-cell>
                    </ds-table-row>

                    <ds-table-row *ngFor="let deliverySheet of deliverySheets" [clickable]="true" [data]="deliverySheet"
                        (rowClick)="onDeliverySheetClick(deliverySheet)">


                        <ds-table-cell align="left">
                            <span class="body primary-dark">
                                <span class="body primary-dark font-weight-medium">{{
                                    deliverySheet.internalReference }}</span>
                                <ds-icon (click)="copy($event, deliverySheet.internalReference)" class="ml-4"
                                    cursorType="pointer" icon="fa-regular fa-clipboard" fontSize="16px" />
                            </span>
                        </ds-table-cell>


                        <ds-table-cell align="left">
                            <div class="client-cell">
                                <span class="body primary-dark">
                                    {{ deliverySheet.productionSheet?.productionOrder?.development?.client?.companyName
                                    || deliverySheet.client?.companyName || '-' }}
                                </span>
                                <span class="caption secondary"
                                    *ngIf="deliverySheet.productionSheet?.productionOrder?.development?.client?.contact?.email || deliverySheet.client?.contact?.email">
                                    {{
                                    deliverySheet.productionSheet?.productionOrder?.development?.client?.contact?.email
                                    || deliverySheet.client?.contact?.email }}
                                </span>
                            </div>
                        </ds-table-cell>


                        <ds-table-cell align="left" class="hide-on-tablet">
                            <div class="address-cell">
                                <span class="body primary-dark">
                                    {{ deliverySheet.address.street }}
                                </span>
                                <span class="caption secondary">
                                    {{ deliverySheet.address.city }}, {{ deliverySheet.address.state }}
                                </span>
                            </div>
                        </ds-table-cell>


                        <ds-table-cell align="center">
                            <span class="body primary-dark" *ngIf="deliverySheet.deliveryDate; else noDeliveryDate">
                                {{ formatDate(deliverySheet.deliveryDate) }}
                            </span>
                            <ng-template #noDeliveryDate>
                                <span class="caption secondary">-</span>
                            </ng-template>
                        </ds-table-cell>


                        <ds-table-cell align="center">
                            <span class="body primary-dark font-weight-medium">
                                {{ formatCurrency(deliverySheet.totalValue) }}
                            </span>
                        </ds-table-cell>


                        <ds-table-cell align="center" class="hide-on-mobile">
                            <span class="body secondary" *ngIf="deliverySheet.invoiceNumber; else noInvoice">
                                {{ deliverySheet.invoiceNumber }}
                            </span>
                            <ng-template #noInvoice>
                                <span class="caption secondary">-</span>
                            </ng-template>
                        </ds-table-cell>


                        <ds-table-cell align="center">
                            <ds-badge [text]="getStatusLabel(deliverySheet.status)" [status]="deliverySheet.status"
                                entityType="delivery-sheet" />
                        </ds-table-cell>


                        <ds-table-cell align="center">
                            <ds-action-menu [items]="actionMenuItems"
                                (itemSelected)="onActionMenuSelect(deliverySheet, $event)">
                            </ds-action-menu>
                        </ds-table-cell>

                    </ds-table-row>
                </ds-table>
            </div>

            <ng-template #cardTemplate let-deliverySheet>

                <div class="delivery-sheet-card">
                    <div class="card-header">
                        <h3 class="card-title">{{ deliverySheet.internalReference }}</h3>
                        <ds-badge [text]="getStatusLabel(deliverySheet.status)" [status]="deliverySheet.status"
                            entityType="delivery-sheet" />
                    </div>
                    <div class="card-content">
                        <div class="info-row">
                            <span class="label">Cliente:</span>
                            <span class="value">{{ deliverySheet.client?.name || '-' }}</span>
                        </div>
                        <div class="info-row">
                            <span class="label">Data de Entrega:</span>
                            <span class="value">{{ formatDate(deliverySheet.deliveryDate) }}</span>
                        </div>
                        <div class="info-row">
                            <span class="label">Valor Total:</span>
                            <span class="value">{{ formatCurrency(deliverySheet.totalValue) }}</span>
                        </div>
                    </div>
                </div>
            </ng-template>
        </ds-list-view>
    </div>


</div>


<ds-modal *ngIf="isModalOpen" modalId="delivery-sheet-modal" (modalClosed)="onModalClosed($event)">
    <app-delivery-sheet-modal [clients]="clients">
    </app-delivery-sheet-modal>
</ds-modal>


<ds-status-updater *ngIf="selectedDeliverySheetForStatusUpdate" #statusUpdaterRef entityType="delivery-sheet"
    [entityId]="selectedDeliverySheetForStatusUpdate._id!" [currentStatus]="selectedDeliverySheetForStatusUpdate.status"
    [availableStatuses]="deliverySheetStatusOptions"
    [entityReference]="selectedDeliverySheetForStatusUpdate.internalReference"
    (statusUpdated)="onStatusUpdated($event); clearStatusUpdateSelection()"
    (statusUpdateFailed)="onStatusUpdateFailed($event)">
</ds-status-updater>
