@use '../abstracts/variables' as *;

// Componentes base
.btn {
    padding: $padding-s $padding-ssm;
    border: none;
    border-radius: $border-radius-md;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.5s, color 0.5s, border-color 0.5s, opacity 0.5s, scale 0.2s;
    outline: 0;

    &:hover {
        transition: background-color 0.5s, color 0.5s, border-color 0.5s, opacity 0.5s;
    }

    &:active {
        scale: 0.98;
        transition: scale 0.2s;
    }

    i {
        margin-right: 6px;
    }

    &.fill {
        background-color: var(--tertiary);
        color: white;

        &:hover {
            background-color: var(--tertiary-medium);
        }

        i {
            color: white;
        }
    }

    &.outline {
        color: var(--tertiary);
        border: 1px solid var(--tertiary);
        background-color: var(--white);
        ;

        &:hover {
            opacity: 0.9;
            background-color: var(--tertiary-fade);
        }

        i {
            color: var(--tertiary);
        }
    }

    &.ghost {
        background-color: var(--white);
        color: var(--tertiary);

        &:hover {
            opacity: 0.9;
            background-color: var(--tertiary-fade);
        }

        i {
            color: var(--tertiary);
        }
    }

    &.rounded {
        border-radius: $border-radius-max;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}