select {
    padding: 12px;
    border: none;
    border-radius: 16px;
    outline: none;
    border: 1px solid var(--stroke);
    resize: none;
}

.form-group {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 8px;
        color: var(--label);
    }

    select {
        box-sizing: border-box;
        background-color: var(--background);
        color: var(--primary-dark);
        font-size: 16px;
        border: 1px solid var(--stroke);

        &::placeholder {
            color: var(--placeholder);
            font-weight: 300;
            font-size: 14px;
            line-height: 100%;
            letter-spacing: 0%;
        }

        &.invalid {
            border: 2px solid var(--tertiary);
        }

        &:focus {
            border-color: var(--primary-medium);
            box-shadow: 0 0 0 3px rgba(1, 80, 120, 0.1);
        }

        option {
            background-color: var(--background);
            color: var(--primary-dark);
        }
    }
}