
<ds-modal *ngIf="isModalOpen" modalId="status-updater-modal" (modalClosed)="closeModal()">

    <div class="status-updater-content">

        <div class="new-status-section mb-32">
            <h3 class="body primary-dark mb-16">Selecionar Novo Status</h3>

            <ds-select label="Status" placeholder="Selecione o cliente" [(ngModel)]="selectedStatus"
                [options]="availableStatuses" [fullWidth]="true" />

        </div>


        <div class="error-message" *ngIf="errorMessage">
            <ds-icon icon="fa-solid fa-triangle-exclamation" color="error" fontSize="16px"></ds-icon>
            <span class="body-small error">{{ errorMessage }}</span>
        </div>


        <div class="action-buttons">
            <ds-button label="Cancelar" variant="outline" (onClickEmitter)="closeModal()" [disabled]="isLoading">
            </ds-button>

            <ds-button label="Atualizar Status" variant="fill" icon="fa-solid fa-check" [isLoading]="isLoading"
                [disabled]="!selectedStatus || selectedStatus === currentStatus" (onClickEmitter)="confirmUpdate()">
            </ds-button>
        </div>

    </div>
</ds-modal>
