<table class="ds-table">
    <!-- Conteúdo dinâmico projetado -->
    <ng-content></ng-content>
    <!-- Estado vazio (se necessário) -->
    <tbody *ngIf="totalPages === 0">
        <tr class="empty-state">
            <td colspan="100%">
                {{ emptyMessage }}
            </td>
        </tr>
    </tbody>
</table>
<!-- Paginação (se habilitada) -->
<div *ngIf="showPagination && totalPages && totalPages > 1" class="pagination">
    <ds-button label="Anterior" icon="fa-solid fa-arrow-left" [disabled]="currentPage === 1"
        (onClickEmitter)="previousPage()" variant="ghost" />

    <p class="body primary">Página {{ currentPage }} de {{ totalPages }}</p>

    <ds-button label="Próxima" icon="fa-solid fa-arrow-right" [disabled]="currentPage === totalPages"
        (onClickEmitter)="nextPage()" variant="ghost" />

</div>