<p>clients works!</p>
<ds-button [rounded]="false" (onClickEmitter)="click()" [fullWidth]="false" variant="outline" label="Label"
    icon="fa-solid fa-bars" />

<div class="clients-container">
    <h2>Gerenciar Clientes</h2>

    <form [formGroup]="clientForm" (ngSubmit)="submit()">

        <!-- Campo Nome -->
        <ds-input [fullWidth]="true" label="Nome do Cliente" placeholder="Digite o nome completo" formControlName="name"
            [required]="true" [invalid]="isFormControlInvalid(clientForm.controls['name'])" errorMessage="Erro"
            icon="fa fa-search" iconPosition="left" />

        <ds-textarea [fullWidth]="false" label="Observações" placeholder="Informações adicionais sobre o cliente..."
            formControlName="notes" [invalid]="isFormControlInvalid(clientForm.controls['notes'])" errorMessage="erro"
            icon="fa-solid fa-sticky-note" iconPosition="left" [rows]="4" [maxlength]="500" resize="vertical"
            helperText="">
        </ds-textarea>

        <ds-button (onClickEmitter)="submit()" label="Enviar" />
    </form>
</div>

<ds-card title="Estatísticas" variant="filled" size="sm" padding="sm">

    <div style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <h2 style="margin: 0; color: var(--primary-dark);">1,234</h2>
            <p style="margin: 0; color: var(--label);">Total de Vendas</p>
        </div>
        <div style="color: var(--tertiary); font-size: 2rem;">📈</div>
    </div>
</ds-card>