
<form [formGroup]="parentForm" class="values-form">


    <div class="value-per-meter-field">
        <ds-input label="Valor por Metro (R$)" placeholder="0.00" formControlName="valuePerMeter" type="number"
            step="0.01" min="0" [fullWidth]="true" [required]="true" [invalid]="isFieldInvalid('valuePerMeter')"
            [errorMessage]="getErrorMessage('valuePerMeter')" icon="fa-solid fa-ruler-horizontal" iconPosition="left"
            (blur)="onCurrencyBlur('valuePerMeter')" helperText="Digite o valor em reais por metro">
        </ds-input>
    </div>


    <div class="value-per-piece-field">
        <ds-input label="Valor por Peça (R$)" placeholder="0.00" formControlName="valuePerPiece" type="number"
            step="0.01" min="0" [fullWidth]="true" [required]="true" [invalid]="isFieldInvalid('valuePerPiece')"
            [errorMessage]="getErrorMessage('valuePerPiece')" icon="fa-solid fa-tags" iconPosition="left"
            (blur)="onCurrencyBlur('valuePerPiece')" helperText="Digite o valor em reais por peça">
        </ds-input>
    </div>
</form>
