:root {
    --white: #fff;
    --primary-dark: #013047;
    --primary-medium: #015078;
    --primary-gradient: linear-gradient(180deg, #013048 0%, #01517A 100%);
    --secondary: #0B495C;
    --secondary-medium: #1593BB;
    --secondary-gradient: linear-gradient(270deg, #1593BB 0%, #0B495C 100%);
    --background: #F8F8F8;
    --background-hover: #f8f8f850;
    --stroke: #D8D8D8;
    --label: #618495;
    --placeholder: #61646B;
    --tertiary: #F9792A;
    --tertiary-medium: #e8620e;
    --tertiary-fade: #f9792a13;
}