
<form [formGroup]="parentForm" class="company-form">


    <div class="company-name-field">
        <ds-input label="Razão Social" placeholder="Digite a razão social da empresa" formControlName="companyName"
            [fullWidth]="true" [required]="true" [invalid]="isFieldInvalid('companyName')"
            [errorMessage]="getErrorMessage('companyName')" [maxlength]="200">
        </ds-input>
    </div>


    <div class="cnpj-field">
        <ds-input label="CNPJ" placeholder="00.000.000/0000-00" formControlName="cnpj" [fullWidth]="true"
            [required]="true" [invalid]="isFieldInvalid('cnpj')" [errorMessage]="getErrorMessage('cnpj')"
            mask="00.000.000/0000-00" icon="fa-solid fa-building" iconPosition="left">
        </ds-input>
    </div>


    <div class="acronym-field">
        <ds-input label="Sigla" placeholder="Ex: ACME, TECH" formControlName="acronym" [fullWidth]="true"
            [required]="true" [invalid]="isFieldInvalid('acronym')" [errorMessage]="getErrorMessage('acronym')"
            [maxlength]="4" icon="fa-solid fa-tag" iconPosition="left">
        </ds-input>
    </div>

</form>
