<div class="developments-container">

    <h1 class="title-semibold primary-dark mb-48">Desenvolvimentos</h1>


    <div class="search-input">
        <div class="search-field">
            <ds-input [fullWidth]="true" label="Buscar" placeholder="Digite o nome do desenvolvimento, cliente, etc."
                [(ngModel)]="currentFilters.search" (ngModelChange)="onSearchChange()" icon="fa-solid fa-search"
                iconPosition="left" />
        </div>

        <div class="status-field">
            <ds-select label="Status" placeholder="Selecione o status" [(ngModel)]="currentFilters.status"
                (ngModelChange)="onSearchChange()" [options]="statusOption" [fullWidth]="true" />
        </div>

        <div class="action-buttons">
            <ds-button label="Limpar Filtros" variant="outline" icon="fa-solid fa-eraser"
                (onClickEmitter)="clearFilters()" [disabled]="!hasActiveFilters()" class="clear-btn">
            </ds-button>

            <ds-button label="Novo desenvolvimento" icon="fa-solid fa-circle-plus"
                (onClickEmitter)="createDevelopment()" class="create-btn" />
        </div>
    </div>

    <div class="results mt-32">
        <ds-list-view [items]="developments" [config]="listViewConfig">
            <div slot="table">
                <ds-table emptyMessage="Nenhum desenvolvimento encontrado" [showPagination]="true"
                    [pageSize]="currentFilters.limit" [totalPages]="pagination?.totalPages"
                    [currentPage]="pagination?.currentPage || 1" (pageChanged)="onPageChange($event)"
                    [loadingData]="shouldShowSpinner">


                    <ds-table-row [isHeader]="true">
                        <ds-table-cell [isHeader]="true" align="left"
                            class="cell-narrow hide-mobile">Imagem</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left" class="cell-normal">Referência
                            Interna</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left" class="cell-normal hide-mobile">Referência
                            Cliente</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left" class="cell-wide">Cliente</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="left" class="cell-normal hide-small">Tipo
                            Produção</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center" class="cell-narrow">Status</ds-table-cell>
                        <ds-table-cell [isHeader]="true" align="center" class="cell-fixed">Ações</ds-table-cell>
                    </ds-table-row>


                    <ds-table-row *ngFor="let development of developments" [clickable]="true" [data]="development"
                        (rowClick)="onDevelopmentClick(development)">


                        <ds-table-cell align="left" class="cell-narrow hide-mobile">
                            <div class="image-cell">
                                <img *ngIf="development.pieceImage?.url; else noImage"
                                    [src]="development.pieceImage?.url" [alt]="development.internalReference"
                                    class="development-image" />
                                <ng-template #noImage>
                                    <div class="no-image-placeholder">
                                        <i class="fa-solid fa-image"></i>
                                    </div>
                                </ng-template>
                            </div>
                        </ds-table-cell>


                        <ds-table-cell align="left" class="cell-normal">
                            <span class="body secondary font-weight-medium">{{ development.internalReference }}</span>
                            <ds-icon (click)="copy($event, development.internalReference)" class="ml-4"
                                cursorType="pointer" icon="fa-regular fa-clipboard" fontSize="16px" />
                        </ds-table-cell>


                        <ds-table-cell align="left" class="cell-normal hide-mobile">
                            <span class="body secondary">{{ development.clientReference || '-' }}</span>
                        </ds-table-cell>


                        <ds-table-cell align="left" class="cell-wide">
                            <div class="client-info">
                                <span class="body secondary">
                                    {{ development.client.companyName || 'Cliente não encontrado' }}
                                </span>
                                <div class="body-small label" *ngIf="development.client.acronym">
                                    {{ development.client.acronym }}
                                </div>
                            </div>
                        </ds-table-cell>


                        <ds-table-cell align="left" class="cell-normal hide-small">
                            <div class="production-types">
                                <span class="body secondary">
                                    {{productionType(development.productionType)}}
                                </span>
                            </div>
                        </ds-table-cell>


                        <ds-table-cell align="center" class="cell-narrow">
                            <ds-badge [text]="getStatusLabel(development.status)" [status]="development.status"
                                entityType="development" />
                        </ds-table-cell>


                        <ds-table-cell align="center" class="cell-fixed">
                            <ds-action-menu [items]="actionMenuItems"
                                (itemSelected)="onActionMenuSelect(development, $event)">
                            </ds-action-menu>
                        </ds-table-cell>

                    </ds-table-row>
                </ds-table>
            </div>
            <ng-template #cardTemplate let-development>
                <div class="card-content" (click)="onDevelopmentClick(development)">
                    <div class="card-header">
                        <div class="card-image-container">
                            <img *ngIf="development.pieceImage?.url" [src]="development.pieceImage.url"
                                [alt]="development.internalReference" class="card-image" />
                            <div *ngIf="!development.pieceImage?.url" class="no-image-placeholder">
                                <i class="fa-solid fa-image"></i>
                            </div>
                        </div>

                        <div class="card-title-section">
                            <h3 class="title-modal mb-4 secondary">{{ development.internalReference }}</h3>
                            <ds-badge [text]="getStatusLabel(development.status)" [status]="development.status"
                                entityType="development" class="status-badge-mobile" />
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="card-info">
                            <div class="info-item" *ngIf="development.client.companyName">
                                <i class="fa-solid fa-building"></i>
                                <span>{{ development.client.companyName }}</span>
                            </div>

                            <div class="info-item" *ngIf="development.client.acronym">
                                <i class="fa-solid fa-tag"></i>
                                <span>{{ development.client.acronym }}</span>
                            </div>

                            <div class="info-item" *ngIf="development.clientReference">
                                <i class="fa-solid fa-hashtag"></i>
                                <span>{{ development.clientReference }}</span>
                            </div>

                            <div class="info-item">
                                <i class="fa-solid fa-cogs"></i>
                                <span>{{ productionType(development.productionType!.type) }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="card-actions">
                        <ds-icon icon="fa-solid fa-arrow-right-arrow-left" color="label" fontSize="20px"
                            cursorType="pointer"
                            (click)="changeDevelopmentStatus(development); $event.stopPropagation()"
                            title="Alterar Status" />

                        <ds-icon icon="fa-solid fa-trash" color="label" fontSize="20px" cursorType="pointer"
                            (click)="deleteDevelopment(development); $event.stopPropagation()" title="Excluir" />
                    </div>
                </div>
            </ng-template>

        </ds-list-view>

    </div>

</div>


<ds-modal modalId="development-modal" *ngIf="isModalOpen" (modalClosed)="onModalClosed($event)">
    <app-development-modal></app-development-modal>
</ds-modal>


<ds-status-updater *ngIf="selectedDevelopmentForStatusUpdate" #statusUpdaterRef entityType="development"
    [entityId]="selectedDevelopmentForStatusUpdate._id!" [currentStatus]="selectedDevelopmentForStatusUpdate.status"
    [availableStatuses]="developmentStatusOptions"
    [entityReference]="selectedDevelopmentForStatusUpdate.internalReference"
    (statusUpdated)="onStatusUpdated($event); clearStatusUpdateSelection()"
    (statusUpdateFailed)="onStatusUpdateFailed($event)">
</ds-status-updater>


<ds-modal modalId="general-modal">
    <app-general-modal-content></app-general-modal-content>
</ds-modal>