// address-data.component.scss
@use "abstracts/variables" as *;
@use "abstracts/spacing" as *;

.address-form {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
        "cep street street"
        "number neighborhood complement"
        "city city state";
    gap: 16px;

    .cep-field {
        grid-area: cep;
        position: relative;

        .loading-message {
            display: flex;
            align-items: center;
            gap: 4px;
            margin-top: 4px;
            font-size: 14px;
            color: var(--primary-medium);
            font-weight: 500;

            ds-icon {
                color: var(--primary-medium);
            }
        }
    }

    .street-field {
        grid-area: street;
    }

    .number-field {
        grid-area: number;
    }

    .neighborhood-field {
        grid-area: neighborhood;
    }

    .complement-field {
        grid-area: complement;
    }

    .city-field {
        grid-area: city;
    }

    .state-field {
        grid-area: state;
    }

    @media (max-width: 992px) and (min-width: 769px) {
        grid-template-columns: 1fr 2fr;
        grid-template-areas:
            "cep street"
            "number neighborhood"
            "complement complement"
            "city state";
        gap: 8px;
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
        grid-template-areas:
            "cep"
            "street"
            "number"
            "neighborhood"
            "complement"
            "city"
            "state";
        gap: 8px;
    }

    ds-input {
        display: block;
        width: 100%;
    }

    ds-input {
        &[icon="fa-solid fa-map-pin"] {
            ::ng-deep .icon-left {
                color: var(--primary-medium);
            }
        }

        &[icon="fa-solid fa-road"] {
            ::ng-deep .icon-left {
                color: var(--secondary-medium);
            }
        }

        &[icon="fa-solid fa-hashtag"] {
            ::ng-deep .icon-left {
                color: var(--tertiary);
            }
        }

        &[icon="fa-solid fa-location-dot"] {
            ::ng-deep .icon-left {
                color: var(--primary-dark);
            }
        }

        &[icon="fa-solid fa-plus"] {
            ::ng-deep .icon-left {
                color: var(--label);
            }
        }

        &[icon="fa-solid fa-city"] {
            ::ng-deep .icon-left {
                color: var(--secondary);
            }
        }

        &[icon="fa-solid fa-flag"] {
            ::ng-deep .icon-left {
                color: var(--tertiary-medium);
            }
        }
    }

    .state-field ds-input {
        ::ng-deep input {
            text-transform: uppercase;
        }
    }

    .complement-field ds-input {
        ::ng-deep .ds-label {
            color: var(--label);
            font-style: italic;
        }
    }
}