<header class="ds-header">
    <div class="header-content">
        <div class="header-left">
            <button *ngIf="showMenuButton" class="menu-button" (click)="onMenuToggle()" [class.active]="isMenuOpen"
                aria-label="Toggle menu">
                <ds-icon [icon]="isMenuOpen ? 'fa-solid fa-times' : 'fa-solid fa-bars'" fontSize="20px" color="primary">
                </ds-icon>
            </button>
        </div>

        <div class="header-center">
            <h1 class="header-title">{{ title }}</h1>
        </div>

        <div class="header-right">
            <!-- Espaço para futuras ações do header -->
        </div>
    </div>
</header>